@inject nullrout3site.Client.Services.ClipboardService clipboardService

<MudDialog>
    <DialogContent>
        <div style="text-align:center">
        <MudText>@ContentText</MudText>
        <MudText>Click to copy to clipboard:</MudText>
        <MudChip Color="Color.Primary" @onclick="() => CopyToClipboard(TokenString)">@TokenString</MudChip>
        </div>
    </DialogContent>
    <DialogActions>
        @if (CancelButton)
        {
            <MudButton OnClick="Cancel">Cancel</MudButton>
        }
        <MudButton Color="@Color" Variant="Variant.Filled" OnClick="Submit">@ButtonText</MudButton>
    </DialogActions>
</MudDialog>

@code {
    //Template used to create dynamic dialog popups. Parameters injected will be displayed to the user.

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public string? ContentText { get; set; }

    [Parameter] public string TokenString { get; set; } = string.Empty;

    [Parameter] public string? ButtonText { get; set; }

    [Parameter] public Color Color { get; set; }

    [Parameter] public bool CancelButton { get; set; } = false;

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
    async Task CopyToClipboard(string tokenString) => await clipboardService.WriteTextAsync(tokenString);
}

