@inherits LayoutComponentBase

<MudThemeProvider Theme="darkTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar DisableGutters="true" Dense="false">
        <div class="d-none d-md-flex align-center">
        <MudLink Href="/" Underline="Underline.None">
            <MudButton class="pa-4" Variant="Variant.Text">
                <MudText Align="Align.Center" Style="letter-spacing: .4rem; font-weight: 200; font-size: 18px">Nullrout3</MudText>
            </MudButton>
        </MudLink>
        
        

            <MudDivider class="my-3" Vertical="true" FlexItem="true" DividerType="DividerType.Middle" />

            <MudLink Href="/webintercept" Underline="Underline.None">
                <MudButton class="pa-4" Variant="Variant.Text" Size="Size.Large" StartIcon="@Icons.Filled.FindInPage">
                    <MudText Align="Align.Center">Interceptor</MudText>
                </MudButton>
            </MudLink>
        </div>

    </MudAppBar>


    <MudMainContent Style="height: 100%; overflow-y: hidden">
        @Body
    </MudMainContent>

</MudLayout>




@code {
    public MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };
}